* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  body {
    height: 100%;
    background-color: var(--background-color);
  }

  a{
    text-decoration: none;
  }
  
  :root {
    --background-color: #f5f5f7;
    --color-text-secondary: #a7a7a8;
    --color-primary: #e90d44;
  }
  .container {
    /* background-color: aqua; */
    max-width: 50rem;
    margin: auto;
    min-height: 100vh;
  }
  
  .header-img > img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
  
  .image-profile {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    /* position: relative; */
  }
  
  .image-profile > img {
    position: relative;
    transform: translateY(-55%);
    z-index: 9999;
    height: 125px;
    width: 120px;
  
    /* filter: drop-shadow(2px 2px 15px #727070); */
  }
  .personal-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  
  .personal-details > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }
  
  .personal-details > span {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #a7a7a8;
  }
  
  .personal-details i {
    color: #a7a7a8;
  }
  .personal-details p {
    width: 60%;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  
  .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    background-color: #fff;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
    position: relative;
    
  }
  
  .circle:hover {
    border: 1px solid #e90d44;
  }
  
  .circle img {
    /* background-color: #6e7191; */
    padding: 14px;
   
  }
  .wrapper {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 16px;
  
  }
  
  .wrapper > p {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
  
    color: var(--color-text-secondary);
  }
  
  .card {
    background-color: #fff;
    height: 100px;
    box-shadow: 0 2px 8px 0 rgb(20 20 43 / 3%);
    margin-bottom: 20px;
  }
  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .card-link {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: end;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
  }

  .card-link img {
    position: absolute;
    left: 0;
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 2px;
    background-color: #c50132;
    /* padding: 5px; */

  }
  
  .card-link div{
    width: 90%;
    min-height: 90px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(20 20 43 / 3%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .card-link a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--color-primary);
  }
  
  .card-link div>a>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .card-link > div:hover {
    border: 1px solid #e90d44;
  }
  
  .card-link h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .card-link p {
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    color: var(--color-text-secondary);
  }
  
  .card-link i {
    color: var(--color-primary);
  }
  
  .more-btn {
    margin: 20px 0;
    width: 100%;
    display: flex;
    /* background-color: #e90d44; */
    justify-content: center;
  }
  
  .more-btn a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #e90d44;
    position: relative;
  }
  .more-btn > a:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #e90d44;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .more-btn a > i {
    margin-left: 5px;
  }
  
  .card-product {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 160px;
    margin: 10px 5px;  
    border: 1px solid var(--color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: #ebecf3;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(20 20 43 / 3%);
    color: #6e7191;
    overflow: hidden;
  
    -webkit-transition: color 350ms ease, -webkit-transform 350ms ease;
    transition: color 350ms ease, -webkit-transform 350ms ease;
    transition: transform 350ms ease, color 350ms ease;
    transition: transform 350ms ease, color 350ms ease, -webkit-transform 350ms ease;
    color: #6e7191;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .card-product:hover{
      box-shadow: 0 2px 6px 0 rgb(20 20 43 / 2%);
      -webkit-transform: scale3d(0.96, 0.96, 1.01);
      transform: scale3d(0.96, 0.96, 1.01);
      color: #6e7191;
  }
  
  .card-product img {
    width: 100%;
    object-fit: cover;
    flex: 1;
  }
  
  .card-product > .card-body {
    padding: 10px 20px 20px 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .card-product > .card-body>h3{
      font-size: 16px;
  }
  
  .product-reviews >div{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
  }
  
  .product-reviews > p{
      font-family: "Roboto",sans-serif;
      color: var(--color-text-secondary);
  }
  
  .card-body h4{
      margin-top: 5px;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-text-secondary);
  }
  .card-body i{
      margin-left: 5px;
      color: var(--color-text-secondary);
  }


  footer{
    display: flex;
    justify-content: center;
    font-family: "Roboto",sans-serif;
    color: #353535;
    padding: 2rem;
  }
  footer i{
    padding: 0 10px;
    color: #e90d44;
  }
  